/*=================== VARIABLES =========================*/

:root {
	--primaryColor: #e67e22;
	--darkPrimaryColor-10: #cf711f;
	--lightPrimaryColor-80: #fae5d3;
	--mainColor: #555;
	--secondaryColor: #333;
	--bgColor: #fdf2e9;
	--whiteColor: #fff;
	--numColor: #ddd;
	--tagVegeterianColor: #51cf66;
	--tagVeganColor: #94d82d;
	--tagPaleoColor: #ffd43b;
	--authorColor: #6f6f6f;
	--

	--borderRadiusDefault: 9px;
	--borderRadiusMedium: 11px;
}

/*=================== RESEST STYLE =========================*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*::before.
*::after {
	box-sizing: inherit;
}

/*=================== COMPONENTS =========================*/

/*btn*/
.btn:link,
.btn:visited {
	display: inline-block;
	font-size: 2rem;
	text-decoration: none;
	border-radius: var(--borderRadiusDefault);
	padding: 1.6rem 3.2rem;
	font-weight: 600;
	transition: all .3s ease;
}

/*link*/
.link:link,
.link:visited {
	display: inline-block;
	color: var(--primaryColor);
	text-decoration: none;
	border-bottom: 1px solid currentColor;
	padding-block-end: 4px;
	transition: all .3s ease;
}

.link:hover,
.link:active {
	color: var(--darkPrimaryColor-10);
	border-bottom: 1px solid transparent;
}

/*meal*/
.meal {
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, .075);
	border-radius: var(--borderRadiusMedium);
	overflow: hidden;
	transition: all .4s ease-out;
}

.meal:hover {
	transform: translateY(-1.2rem);
	box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, .06);
}

.meal__image {
	width: 100%;
}

.meal__content {
	padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal__tags {
	margin-bottom: 1.2rem;
	font-weight: 600;
	display: flex;
	gap: 0.4rem;
}

.meal__tags-item {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: var(--secondaryColor);
	border-radius: 100px;
}

.meal__title {
	font-size: 2.4rem;
	color: var(--secondaryColor);
	font-weight: 600;
	margin-bottom: 3.2rem;
}

.meal__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.meal__item {
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

.meal__icon {
	flex-shrink: 0;
	width: 2.4rem;
	height: 2.4rem;
	fill: var(--primaryColor);
}

/*list*/

.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.list__item {
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

.list__icon {
	width: 3rem;
	height: 3rem;
	fill: var(--primaryColor);
}

/*best-value*/

.best-value {
	position: absolute;
	top: 6%;
	right: -16%;
	text-transform: uppercase;
	background-color: var(--tagPaleoColor);
	font-weight: 600;
	font-size: 1.2rem;
	padding: 0.8rem 8rem;
	transform: rotate(45deg);
}

/*=================== MODIFICATORS =========================*/

/*btn*/
.btn--full:link,
.btn--full:visited {
	background-color: var(--primaryColor);
	color: var(--whiteColor);
}

.btn--full:hover,
.btn--full:active {
	background-color: var(--darkPrimaryColor-10);
}

.btn--outline:link,
.btn--outline:visited {
	background-color: var(--whiteColor);
	color: var(--mainColor);
}

.btn--outline:hover,
.btn--outline:active {
	background-color: var(--bgColor);
	box-shadow: inset 0 0 0 3px var(--whiteColor);
}

/*title*/

.title--large {
	font-size: 5.2rem;
	line-height: 1.05;
	margin-bottom: 3.2rem;
}

.title--medium {
	font-size: 4.4rem;
	line-height: 1.2;
	margin-bottom: 9.6rem;
}

.title--small {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 3.2rem;
}

/*tags*/

.tag--vegetarian{
	background-color: var(--tagVegeterianColor);
}

.tag--vegan {
	background-color: var(--tagVeganColor);
}

.tag--paleo {
	background-color: var(--tagPaleoColor);
}

/*pricing*/

.pricing__plan--complete {
	background-color: var(--bgColor);
	position: relative;
}

/*=================== GLOBAL STYLE =========================*/

html {
	font-size: 62.5%;
}

body {
	max-width: 2560px;
	margin: 0 auto;
	font-family: "Rubik", sans-serif;
	line-height: 1;
	font-weight: 400;
	color: var(--mainColor);
}

strong {
	font-weight: 500;
}

.margin-right-sm {
	margin-right: 1.6rem;
}

.header__menu-link.nav-cta:link,
.header__menu-link.nav-cta:visited {
	padding: 1.2rem 2.4rem;
	border-radius: var(--borderRadiusDefault);
	color: var(--whiteColor);
	background-color: var(--primaryColor);
}

.header__menu-link.nav-cta:hover,
.header__menu-link.nav-cta:active {
	background-color: var(--darkPrimaryColor-10);
}

.container {
	max-width: 120rem;
	padding: 0 3.2rem;
	margin: 0 auto;
}

.title {
	font-weight: 700;
	color: var(--secondaryColor);
	letter-spacing: -0.5px;
}

.subtitle {
	display: block;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: var(--darkPrimaryColor-10);
	font-weight: 500;
	margin-bottom: 1.6rem;
	letter-spacing: 0.75px;
}

.grid {
	display: grid;
	gap: 9.6rem 6.4rem;
}

.grid-2-cols {
	grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.how,
.meals,
.pricing {
	padding: 9.6rem 0;
}

/*=================== SECTION HEADER =========================*/

.header {
	background-color: var(--bgColor);
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9.6rem;
	padding: 0 4.8rem;
	max-width: 1600px;
	margin: 0 auto;
}

.header__logo {
	height: 2.2rem;
}

.header__menu-list {
	display: flex;
	column-gap: 3.2rem;
	list-style: none;
	align-items: center;
}

.header__menu-link:link,
.header__menu-link:visited {
	display: inline-block;
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--secondaryColor);
	text-decoration: none;
	transition: all .3s ease-in;
}

.header__menu-link:hover,
.header__menu-link:active {
	color: var(--darkPrimaryColor-10);
}

/*=================== SECTION HERO =========================*/

.hero {
	background-color: var(--bgColor);
	padding: 4.8rem 0 9.6rem 0;
}

.hero__wrapper {
	max-width: 130rem;
	margin: 0 auto;
	display: grid;
	align-items: center;
	column-gap: 9.6rem;
	grid-template-columns: 1fr 1fr;
	padding: 0 3.2rem;
}

.hero__text {
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 4.8rem;
}

.hero__image-item {
	width: 100%;
}

.hero__delivered {
	display: flex;
	align-items: center;
	column-gap: 1.6rem;
	margin-top: 8rem;
}

.hero__delivered-images {
	display: flex;
}

.hero__delivered-images img {
	height: 4.8rem;
	width: 4.8rem;
	margin-right: -1.6rem;
	border-radius: 50%;
	border: 3px solid var(--bgColor);
}

.hero__delivered-images img:last-child {
	margin-right: 0;
}

.hero__delivered-text {
	font-size: 1.8rem;
	font-weight: 600;
}

.hero__delivered-text span {
	color: var(--darkPrimaryColor-10);
	font-weight: 700;
}

/*=================== SECTION FEATURED =========================*/

.featured {
	padding: 4.8rem 0 3.2rem 0;
	position: relative;
}

.featured:before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -1rem;
	transform: translate(-50%, 0);
	width: 20%;
	height: 2px;
	background-color: var(--numColor);
}

.featured__title {
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 2.4rem;
}

.featured__logos {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.featured__logos-item {
	height: 3.2rem;
}

/*=================== SECTION HOW =========================*/

.how__steps {
	align-items: center;
}

.how__steps:nth-child(odd) .how__steps-content {
	order: 1;
}

.how__steps-number {
	font-size: 8.6rem;
	color: var(--numColor);
	font-weight: 600;
	margin-bottom: 1.2rem;
/*	letter-spacing: -1px;*/
}

.how__steps-description {
	font-size: 1.8rem;
	line-height: 1.8;
}

.how__steps-image {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.how__steps-image:before,
.how__steps-image:after {
	content: "";
	position: absolute;
	display: block;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.how__steps-image:before {
	width: 60%;
	padding-bottom: 60%;
	background-color: var(--bgColor);
	z-index: -2;
}

.how__steps-image:after {
	width: 45%;
	padding-bottom: 45%;
	background-color: var(--lightPrimaryColor-80);
	z-index: -1;
}

.how__steps-image img {
	width: 35%;
}

/*=================== SECTION MEALS =========================*/

.meals__head {
	text-align: center;
}

.meals__content {
	margin-bottom: 4.8rem;
}

.meals__recipes {
	font-size: 1.8rem;
	text-align: center;
}

/*=================== SECTION TESTIMONIALS =========================*/

.testimonials {
	background-color: var(--bgColor);
}

.testimonials__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.testimonials__inner {
	padding: 9.6rem;
}

.testimonials__content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4.8rem;
}

.testimonials__content-image {
	width: 6.4rem;
	border-radius: 50%;
	margin-bottom: 1.2rem;
}

.testimonial__content-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 1.6rem;
}

.testimonials__content-author {
	font-size: 1.6rem;
	color: var(--authorColor);
}

.testimonial__gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
	padding: 1.6rem;
}

.testimonial__gallery-item {
	overflow: hidden;
}

.testimonial__gallery-image {
	display: block;
	width: 100%;
	transition: transform .4s ease-out;
}

.testimonial__gallery-image:hover {
	transform: scale(1.1);
}

/*=================== SECTION PRICING =========================*/

.pricing {
}

.pricing__content {
	display: flex;
	justify-content: center;
	gap: 9.6rem 6.4rem;
}

.pricing__plan {
	border-radius: var(--borderRadiusMedium);
	padding: 4.8rem;
	max-width: 42rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid var(--bgColor);
	overflow: hidden;
}

.prising__plan-container {
	text-align: center;
	margin-bottom: 4.8rem;
}

.pricing__plan-name {
	font-size: 2em;
	font-weight: 600;
	color: var(--darkPrimaryColor-10);
	text-transform: uppercase;
	letter-spacing: 0.75px;
	margin-bottom: 3.2rem;
}

.pricing__plan-price {
	font-size: 6.2rem;
	font-weight: 600;
	color: var(--secondaryColor);
	margin-bottom: 1.6rem;
}

.pricing__plan-price span {
	font-size: 3rem;
	font-weight: 500;
	margin-right: 0.8rem;
}

.pricing__plan-description {
	font-size: 1.6rem;
	line-height: 1.6;
	color: var(--authorColor);
}

.pricing__plan-btn {
	text-align: center;
	margin-top: 4.8rem;
}