$primaryColor: #e67e22;
$darkPrimaryColor-10: #cf711f;
$darkPrimaryColor-70: #45260a;
$lightPrimaryColor-80: #fae5d3;
$lightPrimaryColor-10: #eb984e;
$mainColor: #555;
$secondaryColor: #333;
$bgColor: #fdf2e9;
$whiteColor: #fff;
$blackColor: #000;
$numColor: #ddd;
$tagVegeterianColor: #51cf66;
$tagVeganColor: #94d82d;
$tagPaleoColor: #ffd43b;
$authorColor: #6f6f6f;
$gradientColorLight: rgba(235, 152, 78, .3);
$gradientColorDark: rgba(230, 125, 34, .3);
$placeholderColor: #aaa;

$borderRadiusDefault: .9rem;
$borderRadiusMedium: 1.1rem;