  <!-- SECTION CONTACTS -->
  <section class="contacts" id="contacts">
    <div class="container">
      <div class="contacts__wrapper">
        <div class="contacts__content">
          <h2 class="contacts__title">Get your first meal for free!</h2>
          <p class="contacts__text">
            Healthy, tasty and hassle-free meals are waiting for you. Start eating well today. You can cancel or pause anytime. And the first meal is on us!
          </p>
          <!-- form -->
          <form class="contacts__form" action="#">

            <fieldset>
              <label for="name">Full Name</label>
              <input type="text" placeholder="Jonh Smith" id="name" required>
            </fieldset>

            <fieldset>
              <label for="email">Email address</label>
              <input type="email" placeholder="me@example.com" id="email" required>
            </fieldset>

            <fieldset>
            <label class="where" for="where">Where did you hear about us?</label>
              <select id="where" required>
                <option value="">Please choose one option:</option>
                <option value="friends">Friends and family</option>
                <option value="youtube">YouTube video</option>
                <option value="podcast">Podcast</option>
                <option value="facebook">Facebook</option>
                <option value="othres">Others</option>
              </select>
            </fieldset>

            <button class="btn btn--form" type="submit">Sign up now</button>
          </form>
        </div>
        <div class="contacts__image" role="img" alt="Woman enjoing food"></div>
      </div>
    </div>
  </section>