  <!-- SECTION FEATURED -->
  <section class="featured">
    <div class="container">
      <h2 class="featured__title">As featured in</h2>
      <div class="featured__logos">
        <img class="featured__logos-item" src="images/techcrunch.webp" alt="Techcrunch logo">
        <img class="featured__logos-item" src="images/business-insider.webp" alt="Business Insider logo">
        <img class="featured__logos-item" src="images/the-new-york-times.webp" alt="The New York Times">
        <img class="featured__logos-item" src="images/forbes.webp" alt="Forbes logo">
        <img class="featured__logos-item" src="images/usa-today.webp" alt="Usa Today logo">
      </div>
    </div>
  </section>