  </main>

  <!-- SECTION FOOTER -->
  <footer class="footer">
		<div class="container">
			<div class="footer__wrapper">
				<div class="footer__logo">
					<a class="footer__logo-link" href="#"><img src="images/omnifood-logo.webp" alt="Omnigood" class="logo"></a>
					<ul class="social__list">
						<li class="social__item"><a class="social__link" href="#"><ion-icon class="social__icon" name="logo-instagram"></ion-icon></a></li>
						<li class="social__item"><a class="social__link" href="#"><ion-icon class="social__icon" name="logo-facebook"></ion-icon></a></li>
						<li class="social__item"><a class="social__link" href="#"><ion-icon class="social__icon" name="logo-twitter"></ion-icon></a></li>
					</ul>
					<p class="copyright">Copyright &copy; <span class="year">1991</span> by Omnifood, Inc. All rights reserved.</p>
				</div>
				<div class="footer__contacts">
					<p class="footer__contacts-title">Contact Us</p>
					<address class="footer__contacts-data">
						<p class="footer__contacts-address">623 Harrison St., 2nd Floor, San Francisco, CA 94107</p>
						<p><a class="footer__contacts-phone" href="tel:4152016370">415-201-6370</a></p>
						<p><a class="footer__contacts-email" href="mailto:hello@omnifood.com">hello@omnifood.com</a></p>
					</address>	
				</div>
				<nav class="footer__nav">
					<p class="footer__nav-title">Account</p>
					<ul class="footer__nav-list">
						<li class="footer__nav-item"><a class="footer__nav-link" href="#">Create account</a></li>
						<li class="footer__nav-item"><a class="footer__nav-link" href="#">Sign in</a></li>
						<li class="footer__nav-item"><a class="footer__nav-link" href="#">iOS app</a></li>
						<li class="footer__nav-item"><a class="footer__nav-link" href="#">Android app</a></li>
					</ul>
				</nav>
				<nav class="footer__nav">
					<p class="footer__nav-title">Company</p>
					<ul class="footer__nav-list">
						<li class="footer__nav-item"><a class="footer__nav-link" href="#">About Omnifood</a></li>
						<li class="footer__nav-item"><a class="footer__nav-link" href="#">For Business</a></li>
						<li class="footer__nav-item"><a class="footer__nav-link" href="#">Cooking partners</a></li>
						<li class="footer__nav-item"><a class="footer__nav-link" href="#">Careers</a></li>
					</ul>
				</nav>
				<nav class="footer__nav">
					<p class="footer__nav-title">Resources</p>
					<ul class="footer__nav-list">
						<li class="footer__nav-item"><a class="footer__nav-link" href="#">Recipe directory</a></li>
						<li class="footer__nav-item"><a class="footer__nav-link" href="#">Help center</a></li>
						<li class="footer__nav-item"><a class="footer__nav-link" href="#">Privacy & terms</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</footer>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>