  <!-- SECTION HERO -->
  <section class="hero">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title title title--large">A healthy meal delivered to your door, every single day</h1>
        <p class="hero__text">
          The smart 365-days-per-year food subscription that will make you eat healthy again. Tailored to your personal tastes and nutritional needs. 
        </p>
        <a class="btn btn--full margin-right-sm" href="#contacts">Start eating well</a>
        <a class="btn btn--outline" href="#how">Learn more &darr;</a>
        <div class="hero__delivered">
          <div class="hero__delivered-images">
            <img src="images/customer-1.webp" alt="Customer photo">
            <img src="images/customer-2.webp" alt="Customer photo">
            <img src="images/customer-3.webp" alt="Customer photo">
            <img src="images/customer-4.webp" alt="Customer photo">
            <img src="images/customer-5.webp" alt="Customer photo">
            <img src="images/customer-6.webp" alt="Customer photo">
          </div>
          <p class="hero__delivered-text"><span>250,000+</span> meals delivered last year!</p>
        </div>
      </div>
      <div class="hero__image">
        <img class="hero__image-item" src="images/hero.webp" alt="Woman enjoing food, meals in storage container and food bowls on a table">
      </div>
    </div>
  </section>