  <!-- SECTION HOW -->
  <section class="how" id="how">
    <div class="container">
      <div class="how__wrapper">
        <div class="how__head">
          <span class="how__head-subtitle subtitle">How it Works</span>
          <h2 class="how__head-title title title--medium">Your daily dose of health in 3 simple steps</h2>
        </div>
        <!-- step 01 -->
        <div class="how__inner grid">
          <div class="how__steps grid grid-2-cols">
            <div class="how__steps-content">
              <p class="how__steps-number">01</p>
              <h3 class="how__steps-title title title--small">Tell us what you like (and what not):</h3>
              <p class="how__steps-description">
                Never again waste time thinking about what to eat! Omnifood AI will create a 100% personalized weekly meal plan just for you. It makes sure you get all the nutrients and vitamins you need, no matter what diet you follow!
              </p>
            </div>
            <div class="how__steps-image">
              <img src="images/app-screen-1.webp" alt="iPhone App preferences selection screen">
            </div>
          </div>
          <!-- step 02 -->
          <div class="how__steps grid grid-2-cols">
            <div class="how__steps-content">
              <p class="how__steps-number">02</p>
              <h3 class="how__steps-title title title--small">Approve your weekly meal plan:</h3>
              <p class="how__steps-description">
                Once per week, approve the meal plan generated for you by Omnifood AI. You can change ingredients, swap entire meals, or even add your own recipes.
              </p>
            </div>
            <div class="how__steps-image">
              <img src="images/app-screen-2.webp" alt="iPhone App approval meal plan screen">
            </div>
          </div>
          <!-- step 03 -->
          <div class="how__steps grid grid-2-cols">
            <div class="how__steps-content">
              <p class="how__steps-number">03</p>
              <h3 class="how__steps-title title title--small">Receive meals at convenient time:</h3>
              <p class="how__steps-description">
                Best chefs in town will cook your selected meal every day, and we will deliver it to your door whenever works best for you. You can change delivery schedule and address daily!
              </p>
            </div>
            <div class="how__steps-image">
              <img src="images/app-screen-3.webp" alt="iPhone App delivery screen">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>