<!-- SECTION TESTIMONIALS -->

<section class="testimonials" id="testimonials">
  <div class="testimonials__wrapper">
    <div class="testimonials__inner">
      <div class="testimonials__head">
        <span class="testimonials__head-subtitle subtitle">Testimonials</span>
        <h2 class="testimonials__head-title title title--medium">Once you try it, you can't go back</h2>
      </div>
      <div class="testimonials__content">
        <figure class="testimonials__content-item">
          <img class="testimonials__content-image" src="images/dave.webp" alt="Photo of customer Dave Bryson">
          <blockquote class="testimonials__content-text">Inexpensive, healthy and great-tasting meals, without even having to order manually! It feels truly magical.</blockquote>
          <p class="testimonials__content-author">&mdash;Dave Bryson</p>
        </figure>
        <figure class="testimonials__content-item">
          <img class="testimonials__content-image" src="images/ben.webp" alt="Photo of customer Ben Hadley">
          <blockquote class="testimonials__content-text">The AI algorithm is crazy good, it chooses the right meals for me every time. It's amazing not to worry about food anymore!</blockquote>
          <p class="testimonials__content-author">&mdash;Ben Hadley</p>
        </figure>
        <figure class="testimonials__content-item">
          <img class="testimonials__content-image" src="images/steve.webp" alt="Photo of customer Steve Miller">
          <blockquote class="testimonials__content-text">Omnifood is a life saver! I just started a company, so there's no time for cooking. I couldn't live without my daily meals now!</blockquote>
          <p class="testimonials__content-author">&mdash;Steve Miller</p>
        </figure>
        <figure class="testimonials__content-item">
          <img class="testimonials__content-image" src="images/hannah.webp" alt="Photo of customer Hannah Smith">
          <blockquote class="testimonials__content-text">I got Omnifood for the whole family, and it frees up so much time! Plus, everything is organic and vegan and without plastic.</blockquote>
          <p class="testimonials__content-author">&mdash;Hannah Smith</p>
        </figure>
      </div>
    </div>
    <div class="testimonials__gallery">
      <figure class="testimonials__gallery-item">
        <img class="testimonials__gallery-image" src="images/gallery-1.webp" alt="Photo of beautifully arranged food">
      </figure>
      <figure class="testimonials__gallery-item">
        <img class="testimonials__gallery-image" src="images/gallery-2.webp" alt="Photo of beautifully arranged food">
      </figure>
      <figure class="testimonials__gallery-item">
        <img class="testimonials__gallery-image" src="images/gallery-3.webp" alt="Photo of beautifully arranged food">
      </figure>
      <figure class="testimonials__gallery-item">
        <img class="testimonials__gallery-image" src="images/gallery-4.webp" alt="Photo of beautifully arranged food">
      </figure>
      <figure class="testimonials__gallery-item">
        <img class="testimonials__gallery-image" src="images/gallery-5.webp" alt="Photo of beautifully arranged food">
      </figure>
      <figure class="testimonials__gallery-item">
        <img class="testimonials__gallery-image" src="images/gallery-6.webp" alt="Photo of beautifully arranged food">
      </figure>
      <figure class="testimonials__gallery-item">
        <img class="testimonials__gallery-image" src="images/gallery-7.webp" alt="Photo of beautifully arranged food">
      </figure>
      <figure class="testimonials__gallery-item">
        <img class="testimonials__gallery-image" src="images/gallery-8.webp" alt="Photo of beautifully arranged food">
      </figure>
      <figure class="testimonials__gallery-item">
        <img class="testimonials__gallery-image" src="images/gallery-9.webp" alt="Photo of beautifully arranged food">
      </figure>
    </div>
  </div>
</section>